.start-line {
    background-color: #383230;
    height: 30px;
    padding: 6px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
        font-size: 11px;
        font-family: $ibm;
        color: white;
        &:hover {
            color: gray;
        }
    }
}
.start-line__text {
    display: flex;
    justify-content: flex-end;
    gap: 32px;
    align-items: center;
}

@media (max-width: 1000px) {
    .start-line {
        padding-left: 50px;
        padding-right: 50px;
    }
}