.grid-container2 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-bottom: 82px;
}
.grid2__item1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    .grid2__title {
        font-size: 36px;
        font-family: $eb;
        letter-spacing: 2.4px;
        padding-bottom: 46px;
    }
    .grid2__subtitle {
        font-size: 15px;
        font-family: $inter;
        padding-bottom: 30px;
    }
    button {
        font-size: 13px;
        font-family: $inter;
        padding: 12px 16px 16px 16px;
        background-color: #FEFDFC;
        color: black
        border: 1px solid black;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
.arrivals__img1 {
    width: 100%;
}
.arrivals__img2 {
    width: 100%;
}
%item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border: solid 1px #E0DBD2; 
    margin-top: -5px;
    padding-left: 17px;
    padding-top: 15px;
    padding-bottom: 19px;
    .item__text-title {
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.03em;
        color: #383230;
        padding-bottom: 6px;
        font-family: $eb;
    }
    .item__text-subtitle {
        font-size: 12px;
        font-family: $inter;
        color: #8c8c8c;
        padding-bottom: 10px;
    }
    .item__text-description {
        font-size: 12px;
        line-height: 160%;
        color: #383230;
        font-family: $inter;
        padding-bottom: 13px;
    }
    .price-color {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
    }
    .price {
        font-size: 11px;
        line-height: 109%;
        font-family: $ibm;
        color: #000;
    }
    .color {
        font-size: 11px;
        line-height: 109%;
        text-transform: uppercase;
        color: #8c8c8c;
        font-family: $ibm;
    }
}
.item__text {
    @extend %item-text;
    height: calc(147px - 15px - 19px);
}
